body.dark {
  background: $Very-Dark-Blue;

  //   dark mode main stylings
  main {
    .area-two {
      box-shadow: 0rem 0.5rem 3rem #000;
    }

    .help {
      color: $Dark-Grayish-Blue;
    }
  }

  //   dark mode todo list section
  section.todo-list .todo-item {
    border-bottom: thin solid $Very-Dark-Grayish-Blue;

    &.completed .todo-title {
      color: $Very-Dark-Grayish-Blue;
    }
  }

  //   dark mode filter section
  section.filter {
    background: $Very-Dark-Desaturated-Blue;
    color: $Dark-Grayish-Blue;

    button.filter-btn:hover {
      color: $Light-Grayish-Blue-hover;
    }
  }

  //   dark mode common section
  .todo-box {
    background: $Very-Dark-Desaturated-Blue;
    color: $Light-Grayish-Blue;

    .check {
      &::before {
        background: $Very-Dark-Grayish-Blue-II;
      }

      span {
        background: $Very-Dark-Desaturated-Blue;
      }
    }
  }
}
